In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df={'Name': ["A", "B", "C", "D","E","F","G","H","I","J"],
    'Value':[1, 2, None, 3, None, 6, 8, None, 11, 12]}
df = pd.DataFrame(df)
df

* *Upper table need to replace 'None' Values by mean of 'Value' column so next we find mean and then replace it.*

In [ ]:
df['Value'].mean()

In [ ]:
df['Value'].replace(np.NaN ,df['Value'].mean())